<div id="register" class="window">

  <div class="title-bar">
    <span class="title-bar-text">Register</span>
    <span class="title-bar-controls">
      <button [routerLink]="['/']" aria-label="Close"></button>
    </span>
  </div>

  <div class="window-body">

    <div class="input-container">
      <div class="field-row-stacked">
        <label for="firstName">First name</label>
        <input id="firstName" class="border-input" type="text" placeholder="First Name" [(ngModel)]="user.firstName" />
      </div>
    </div>

    <div class="input-container">
      <div class="field-row-stacked">
        <label for="lastName">last name</label>
        <input id="lastName" class="border-input" type="text" placeholder="Last Name" [(ngModel)]="user.lastName" />
      </div>
    </div>

    <div class="input-container">
      <div class="field-row-stacked">
        <label for="email">Email</label>
        <input id="email" class="border-input" type="email" placeholder="Email" [(ngModel)]="user.email" />
      </div>
    </div>

    <div class="input-container">
      <div class="field-row-stacked">
        <label for="password">Mot de passe</label>
        <input id="password" class="border-input" type="password" placeholder="Mot de passe" [(ngModel)]="user.password" />
      </div>
    </div>

    <div class="field-row">
      <button class="register-button bold" (click)="register()">
        Sign in
      </button>
    </div>

  </div>
</div>
