<div class="container desktop-nav-avoider register-content">
  <h1 class="page-title text-center">Bemonad</h1>

  <div class="input-container">
    <label for="firstName">First name</label>
    <input id="firstName" class="border-input" type="text" placeholder="First Name" [(ngModel)]="user.firstName" />
  </div>

  <div class="input-container">
    <label for="lastName">last name</label>
    <input id="lastName" class="border-input" type="text" placeholder="Last Name" [(ngModel)]="user.lastName" />
  </div>

  <div class="input-container">
    <label for="email">Email</label>
    <input id="email" class="border-input" type="email" placeholder="Email" [(ngModel)]="user.email" />
  </div>

  <div class="input-container">
    <label for="password">Mot de passe</label>
    <input id="password" class="border-input" type="password" placeholder="Mot de passe" [(ngModel)]="user.password" />
  </div>

  <div class="button-container text-center py-4">
    <button class="register-button bold" (click)="register()">
      <span>S'inscrire</span>
    </button>
  </div>
</div>
