<section id="home">
  <aside>
    <ul class="tree-view">
      <li *ngIf="currentUser" class="title-name">Welcome {{ currentUser.data.user.firstname }} {{ currentUser.data.user.lastname }}</li>
      <li *ngIf="!currentUser"><a [routerLink]="['/login']">Login</a></li>
      <li *ngIf="!currentUser"><a [routerLink]="['/register']">Register</a></li>
      <li><a *ngIf="currentUser" (click)="logout()">Logout</a></li>
      <li *ngIf="currentUser">Bookmark</li>
      <ul *ngIf="currentUser">
        <li
          *ngFor="let bookmark of currentUser.data.bookmark"
        >
          <a (click)="search(bookmark.id)">{{ bookmark.name }}</a>
          <span class="title-bar-controls">
            <button (click)="removeBookmark(bookmark._id)" aria-label="Close"></button>
          </span>
        </li>
      </ul>
      <li>Search</li>
      <ul class="search-section">
        <li>
          <select *ngIf="sources" id="salle" [(ngModel)]="sourceSelected">
            <option disabled selected>Select a source</option>
            <option
              *ngFor="let source of sources.sources"
              [value]="source.id"
            >{{source.name}}</option>
          </select>
        </li>
        <li>
          <input id="keyword" class="border-input" type="text" placeholder="Keyword" [(ngModel)]="keyword" />
        </li>
      </ul>

      <section>
        <button (click)="search()">Submit</button>
        <button *ngIf="currentUser" (click)="addBookmark()">Add bookmarks</button>
      </section>
    </ul>
  </aside>

  <main>
    <h2>NEWS APP</h2>
    <section id="articles" *ngIf="showSource">
      <div *ngIf="showSource.totalResults > 0">

        <div class="window" *ngFor="let source of showSource.articles">

          <div class="title-bar">
            <span class="title-bar-text">{{ source.title }}</span>
            <span class="title-bar-controls">
              <button aria-label="Minimize"></button>
              <button aria-label="Maximize"></button>
              <button aria-label="Close"></button>
            </span>
          </div>

          <div class="window-body">
            <img src="{{ source.urlToImage }}" alt="">
            <div>
              <p>{{ source.author }}</p>
              <p>{{ source.description }}</p>
              <a href="{{ source.url }}">See news</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showSource.totalResults === 0">
        <p>No result</p>
      </div>
    </section>
  </main>

</section>
