#login {
  width: 350px;
  margin: auto;

  .input-container {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 16px;
  }

  .field-row-stacked {
    width: 150px;
  }

  .field-row {
    justify-content: flex-end;
  }
}
